/*
 * basements
 */

body {
    background: #f9f9f9;
}

ul, li {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 580px;
    margin-left: auto;
    margin-right: auto;
}
.clearfix {
    clear: both;
}
